QUEST_PRIORITY=true
MINUTES_BATTLES_INTERVAL=30
ERC_THRESHOLD=80
POWER_THRESHOLD=1000
SWITCH_THRESHOLD=50
CLAIM_SEASON_REWARD=false
CLAIM_QUEST_REWARD=true
HEADLESS=true
KEEP_BROWSER_OPEN=true
CHROME_NO_SANDBOX=true
LOGIN_VIA_EMAIL=false
GET_DATA_FOR_LOCAL=true
AUTO_SWITCH=false
EMAIL=account1@email.com,account2@email.com,account3@email.com
ACCUSERNAME=username1,username2,username3
PASSWORD=password1,password2,password3
USE_API=true
API_URL=http://splinterlandsapi2.pcjones.de:8080/
API_URL_FALLBACK=http://splinterlandsapi.pcjones.de:8080/ 
USE_CLASSIC_BOT_PRIVATE_API=false
TELEGRAM_NOTIF=false
TELEGRAM_TOKEN=
TELEGRAM_CHATID=